<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Location lat:</strong>
  <%= @vendor.location_lat %>
</p>

<p>
  <strong>Location lng:</strong>
  <%= @vendor.location_lng %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
