<h1>Gameboard#show</h1>
<p>Find me in app/views/flag/show.html.erb</p>
<div id='flagcontent'>
Flagge: <%= @id %><br/>
C_LAT: <%= @userlat %><br/>
C_LNG: <%= @userlng %><br/>
F_LAT: <%= @flaglat %><br/>
F_LNG: <%= @flaglng %><br/>
Distance C-> F [m]: <%= @distance %>
</div>
