<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @flag.owner %>
</p>

<p>
  <strong>Prestige:</strong>
  <%= @flag.prestige %>
</p>

<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
